@use 'pre';

$primary:    pre.$amethyst-crocoite-primary;
$secondary:  pre.$amethyst-crocoite-secondary;
$background: pre.$amethyst-crocoite-background;
$surface:    pre.$amethyst-crocoite-surface;
$error:      pre.$amethyst-crocoite-error;

@use '@material/theme/variables' with (
    $primary:    $primary,
    $secondary:  $secondary,
    $background: $background,
    $surface:    $surface,
    $error:      $error,
);



@use 'post';
@use 'mixins';

.theme-amethyst-crocoite {
    @include mixins.common-theme-work(
        $primary:    $primary,
        $secondary:  $secondary,
        $background: $background,
        $surface:    $surface,
        $error:      $error,
    );
}
