@use 'sass:color';
@use 'pre';

$primary:    pre.$dark-amethyst-crocoite-primary;
$secondary:  pre.$dark-amethyst-crocoite-secondary;
$background: pre.$dark-amethyst-crocoite-background;
$surface:    pre.$dark-amethyst-crocoite-surface;
$error:      pre.$dark-amethyst-crocoite-error;

@use '@material/theme/theme-color' with (
    $primary:    $primary,
    $secondary:  $secondary,
    $background: $background,
    $surface:    $surface,
    $error:      $error,
);

@use 'post';
@use 'mixins';

@use "@material/top-app-bar/mixins" as top-app-bar-mixins;

.theme-dark-amethyst-crocoite.theme-level-1,
.theme-dark-amethyst-crocoite.theme-level-1.theme-level-2 {
    @include mixins.common-theme-work(
        $primary:    $primary,
        $secondary:  $secondary,
        $background: $background,
        $surface:    $surface,
        $error:      $error,
    );
    
    .theme-branded-surface {
        background-color: color.mix($primary, pre.$surface-dark, 8%);
    }

    .mdc-top-app-bar {
        @include top-app-bar-mixins.fill-color-accessible(
            color.mix($primary, pre.$surface-dark, 8%)
        );
        @include top-app-bar-mixins.icon-ink-color(
            theme-color.accessible-ink-color(
                color.mix($primary, pre.$surface-dark, 8%)
            )
        );
    }
}
