@use 'sass:color';
@use 'pre';

$primary:    pre.$dark-amethyst-crocoite-primary;
$secondary:  pre.$dark-amethyst-crocoite-secondary;
$background: pre.$dark-amethyst-crocoite-background;
$surface:    pre.$dark-amethyst-crocoite-surface;
$error:      pre.$dark-amethyst-crocoite-error;

@use '@material/theme/variables' with (
    $primary:    $primary,
    $secondary:  $secondary,
    $background: $background,
    $surface:    $surface,
    $error:      $error,
);

@use 'post';
@use 'mixins';

.theme-dark-amethyst-crocoite {
    @include mixins.common-theme-work(
        $primary:    $primary,
        $secondary:  $secondary,
        $background: $background,
        $surface:    $surface,
        $error:      $error,
    );
    
    .theme-branded-surface {
        background-color: color.mix($primary, pre.$surface-dark, 8%);
    }
}
