@use 'pre';

$primary:    pre.$emerald-azurite-primary;
$secondary:  pre.$emerald-azurite-secondary;
$background: pre.$emerald-azurite-background;
$surface:    pre.$emerald-azurite-surface;
$error:      pre.$emerald-azurite-error;

@use '@material/theme/theme-color' with (
    $primary:    $primary,
    $secondary:  $secondary,
    $background: $background,
    $surface:    $surface,
    $error:      $error,
);

@use 'post';
@use 'mixins';

.theme-emerald-azurite.theme-level-1,
.theme-emerald-azurite.theme-level-1.theme-level-2 {
    @include mixins.common-theme-work(
        $primary:    $primary,
        $secondary:  $secondary,
        $background: $background,
        $surface:    $surface,
        $error:      $error,
    );
}
